@import "tailwindcss";
body{
    background-color: rgb(224, 224, 255);
   
}
.card{
    background-image: url("https://tse4.mm.bing.net/th?id=OIP.b8ZkDbflUFjUl_EcXu4ZNwHaEo&pid=Api&P=0&h=220");
    
}